@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Roboto&display=swap');
h1 {
    font-family: 'Coiny', cursive;
    font-size: 40px;
}
body {color: black;}
h2,h3,h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: #fcee21;
}
 p, ol, ul {font-family: 'Roboto', sans-serif;
       font-weight: 5px;  
       }
       
